.error_page{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  }
  .error_page .content{
    max-width: 600px;
    text-align: center;
  }
  .content h2.error_page_header{
    font-size: 18vw;
    line-height: 1em;
    color: rgba(0, 0, 0, 0.7);
  }

  .content h4{
    font-size: 1.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: rgb(105, 105, 105);
    font-size: 2rem;
    max-width: 600px;
  }

  .content p{
    font-size: 1.2em;
    color: #857d7d;
  }
  .content .btn{
    margin: 25px 0;
    display: inline-flex;
  }
  .content .btn a{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    border: 2px solid rgba(33, 102, 220, 0.7);
    color: rgb(0, 95, 255, 0.7);
    font-weight: 500;
    padding: 1rem 2.4rem;
    border-radius: 25px;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  .content .btn a:hover{
    background: rgb(37, 101, 212);
    color: #fff;
  }
  